* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ol {
    margin: 20px;
}

ol li {
    margin-bottom: 30px;
}

button#g {
   float: left;
}

button {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;

}