@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .autor {
    text-align: center;
    margin-top: 10px;
  }

  
* {
    margin:0;  
    padding:0;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
}

header, article {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

header {
    position: sticky;
    justify-content:space-between;
    height: 10vh;

    padding: 10px 10px;
    font-size: 1em;

    background-color: #4A90E2;
    color: white

}

main #poema{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main #paisagem, main capitais {
    height: 100vh;
}


header nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

nav a:last-child {
    border-radius: 10px;
    background-color: #4a61e2;
}

nav a:link{
    color: rgb(255, 255, 255);
}

nav a:visited {
    color: #bdc3e4;
}

nav a:hover{
    color: black;
}

nav a:active{
    color: black;
}

article div {
    position: relative;
    width: 100vw;  
    height: 100vh; 
}

article div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
    object-fit: cover;  /* Garante que a imagem cubra todo o espaço do div sem distorção */
    z-index: -1;
}

article div p a{
    position: absolute; /* Permite posicionar o p em relação ao div */
    bottom: 20px;      /* Distância do fundo do div */
    right: 20px;       /* Distância da direita do div */
    color: rgb(0, 0, 0); /* Fundo semi-transparente (opcional) */
    padding: 5px 10px; /* Espacamento interno para melhorar a legibilidade */
    z-index: 1;       /* Coloca o p acima da imagem */
}
article div p a:hover {
    color: rgb(255, 255, 255); 
}



article a {
    text-decoration: none;
}