.centrar {
    text-align: center;
}

.iframe-container {
    margin-top: 20px;
}

.iframe-container iframe {
    border-radius: 40px;
}

body {
    margin: 0px;
    padding: 0; /* Remove qualquer padding */
    background-color: #f7f7f7; /* Cor de fundo neutra */
}

main {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: bisque; /* Cor suave e neutra */
}

header {
    color: white;
    background-color: #4A90E2; /* Azul claro (relacionado ao céu) */
    text-align: center;
    margin: 0px; 
    padding: 20px 0; 
    width: 100%; 
    box-sizing: border-box; 
}

footer {
    text-align: center;
}

nav {
    background-color: #F4D03F; /* Amarelo ouro (inspirado nos azulejos) */
    color: #333333; /* Cor de texto escuro para bom contraste */
    text-align: center;
    font-family: "Helvetica", sans-serif;
    padding: 10px;
    margin: 5px 10px 10px 10px; 
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    padding: 5px;
    color: #333333; /* Manter a cor escura para o texto */
}

section {
    background-color: #A3D9A5; /* Verde claro (inspirado nos jardins) */
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

section ol,
section ul,
section p,
section table {
    background-color: #F6E58D; /* Amarelo suave (dourado inspirado nas fachadas) */
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: auto;
    box-sizing: border-box;
}

#top-restaurantes h4,
#top-monumentos h4,
#locais-a-nao-perder h4,
#locais-para-tirar-foto h4,
#melhor-altura-para-visitar h4 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block; 
    margin-top: 5px;
    margin-bottom: 5px;
}

li:nth-child(2n) {
    color: rgb(45, 124, 221); /* Azul forte (para destacar itens pares) */
}

ul {
    list-style-type: circle;
}

ol {
    list-style: upper-roman;
}
