* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    padding: 15px;
    height: 10vh;
    width: 100vw;

    background-color: rgb(107, 21, 107);
}

header h1 {
    color: aliceblue;
}

header ul a {
    text-decoration: none;
    color: white;

    padding: 10px;
}

main {
    padding: 50px;
}

article img {
    max-width: 100%;
}

#caixa-produtos {
    display: grid;
}

.cartao-artigo {
    width: 100px;
    height: 150px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(107, 21, 107);

    height: 10vh;
}

footer p {
    color: aliceblue;
}